<!doctype html>
<html lang="en">
<head>
    <title>Projects - Alexander Dubinski</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'global/css_imports.html' %}
    {% load static %}
    <link rel="icon" href="{% static 'global/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'projects/projects.css' %}">
</head>
<body>
{% include 'global/js_imports.html' %}
<script src="{% static 'homepage/particles.min.js' %}"></script>
<div id="particles-js"></div>
{% block content %}
{% endblock content %}
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/projects/particles.json', function () {
        console.log('particles.js config loaded');
    });
</script>
</body>
</html>