{% extends 'projects/index.html' %}
{% block content %}
    <section>
        <div style="height: 60px;" class="ui top fixed menu">
            <div class="ui category search item">
                <form method="POST" action="{% url 'project_search' %}">
                    {% csrf_token %}
                    <div style="z-index: 1; min-width: 300px;" class="ui transparent icon input">
                        <label for="search"></label>
                        <input class="prompt" name="search" id="search" type="text" value="{{ search }}"
                               placeholder="Search projects...">
                        <i class="search icon"></i>
                    </div>
                </form>
            </div>
            <h1 class="no-margin center mobile-hide"
                style="color: #003c8f; margin: 12px; position: absolute; left: 0; top: 0; width: 100%;">
                <a href="{% url 'projects_home' %}">Projects</a>
            </h1>
            <a href="{% url 'homepage' %}">
                <button class="ui button blue" style="position: absolute; right: 10px; height: 40px; top: 10px;">Back to
                    Homepage
                </button>
            </a>
        </div>
        <div style="height: 60px;"></div>
        <div style="padding: 0 25px;">
            <div class="ui centered stackable grid">
                <div class="three column row">
                    {% for project in projects %}
                        <div class="column">
                            <div style="width: 100%; margin-top: 20px;" class="ui link card">
                                <a href="{% url 'view_project' project_id=project.project_id %}?dest={{ project.dest|urlencode }}"
                                   class="image">
                                    <img src="{{ project.image.url }}" alt="{{ project.alt }}">
                                </a>
                                <div class="content">
                                    <a href="{% url 'view_project' project_id=project.project_id %}?dest={{ project.dest|urlencode }}"
                                       class="header">{{ project.title }}</a>
                                    {% for tag in project.tags.tags %}
                                        <div class="meta">
                                            <a href="{% url 'projects_home' %}?search={{ tag|urlencode }}">{{ tag }}</a>
                                        </div>
                                    {% endfor %}
                                    <div style="height: 250px; overflow-y: hidden;" class="description">
                                        <a href="{% url 'view_project' project_id=project.project_id %}?dest={{ project.dest|urlencode }}"
                                           style="color: inherit;">{{ project.description }}</a>
                                    </div>
                                </div>
                                <div style="position: relative;" class="extra content">
                            <span class="right floated">Started: <span
                                    style="font-weight: bold;">{{ project.started|date:"Y" }}</span></span>
                                    <span><i class="eye icon"></i>{{ project.views }} Views</span>
                                    <span class="center" style="width: 100%; position: absolute; left: 0; top: 10px;">
                                {% if project.meta.technologies or project.repo %}<span
                                        data-title="Technologies used:"
                                        data-content="{{ project.meta.technologies|join:", " }}"
                                        data-position="bottom center"
                                        {% if project.meta.technologies %}class="popup"{% endif %}>
                                    <a {% if project.repo %}href="{{ project.repo }}"{% endif %}>
                                        <i style="margin: 0;" class="code icon"></i>
                                    </a>
                                </span>
                                {% endif %}
                                        &nbsp;&nbsp;&nbsp;
                                        {% if project.meta.info %}
                                            <span data-title="Details:"
                                                  data-content="{{ project.meta.info }}"
                                                  data-variation="wide"
                                                  data-position="bottom center" class="popup">
                                        <i style="margin: 0;" class="info icon"></i>
                                    </span>
                                        {% endif %}
                            </span>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h2 style="background-color: rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 20px; margin: 50px auto;">Sorry, no results for the query <span style="color:  #4fc3f7;">{{ search }}</span></h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.popup').popup();
    </script>
{% endblock content %}